<h3>Customer Biodata</h3>
<div id="input">
    <div id="left">
        <input type="number" placeholder="Salesmen ID" >
      <input type="text" placeholder="Customer Name" >
      <input type="text" placeholder="Pic" >
      <input type="text" placeholder="City" >
      <input type="text" placeholder="Remark" >
      <input type="number" placeholder="NPWP" >
      <input type="number" placeholder="Customer Price Category" >
    </div>
    <div id="right">
        <input type="text" placeholder="Address" >
        <input type="text" placeholder="Address ke 2" >
        <input type="number" placeholder="Contact No" >
        <input type="text" placeholder="Region" >
        <input type="text" placeholder="Province" >
        <div id="kuota">
            <input type="number" placeholder="0" >
        </div>
        <input type="number" placeholder="Prefered Expedition" >
    </div>
</div>
<button (click)="submit()" mat-button color="primary">+</button>
  