<table border>
    <tr>
      <th>Salesmen ID</th>
      <th>Customer Name</th>
      <th>Pic</th>
      <th>City</th>
      <th>Remark</th>
      <th>NPWP</th>
      <th>Customer Price Category</th>
      <th>Address</th>
      <th>Address ke-2</th>
      <th>Contact No</th>
      <th>Region</th>
      <th>Provice</th>
      <th>Kuota</th>
      <th>Prefered Expedition</th>
    </tr>   
    <tr *ngFor="let x of data">
      <td>{{ x.ID }}</td>
      <td>{{ x.CustomerName }}</td>
      <td>{{ x.Pic }}</td>
      <td>{{ x.City }}</td>
      <td>{{ x.Remark }}</td>
      <td>{{ x.NPWP }}</td>
      <td>{{ x.CustomerPrice }}</td>
      <td>{{ x.Address }}</td>
      <td>{{ x.Address2 }}</td>
      <td>{{ x.Contact }}</td>
      <td>{{ x.Region }}</td>
      <td>{{ x.Province }}</td>
      <td>{{ x.Kuota }}</td>
      <td>{{ x.expedition }}</td>
    </tr>
  </table>
